<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANWB</title>
    <link rel="stylesheet" href="/style.css"> 
  </head>
<body>
  <main id="swup" class="transition-fade">
    <div class="login-main-container">
      <main class="login-main">
          <h2>Welkom bij Pitch planner van ANWB !</h2>
          <h3>Log in om verder te gaan: </h3>
          <section class="login-container">
            <form action="/login" method="POST">
                <input type="text" id="username" placeholder="Gebruikersnaam" name="username" required>
                <input type = "password" id="password" placeholder="Wachtwoord" data-sign="*" name="password" required>
                <button type="submit">Login</button>
            </form>
          </section>
      </main>
    </div>
  </main>

 <!--- Hier gebruik ik checkValidity() methode  --> 
  <script>
    function myFunction() {
      const username = document.getElementById("username");
      if (!username.checkValidity()) {
        document.getElementById("username").innerHTML = username.validationMessage;
      } else {
        document.getElementById("username").innerHTML = "Input OK";
      } 

      const password = document.getElementById("username");
      if (!password.checkValidity()) {
        document.getElementById("demo").innerHTML = inpObj.validationMessage;
      } else {
        document.getElementById("demo").innerHTML = "Input OK";
      } 
    } 
    </script>


<script defer src="public/script.js"></script>

<%- include('./partials/foot') %>