:root {
  --background-color: rgb(255, 255, 255);
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(0, 119, 255);
  --text-color: rgb(0, 0, 0);
  --circle-color-orange: #ff9b05;
  --circle-color-yellow-one: #F3FFC3 ;
  --circle-color-yellow-two: #FAFF00;
  --circle-color-blue: #5796F7;
  scroll-behavior: smooth;
}


/***************/
/*             */
/*  TYPOGRAFIE */
/*             */
/***************/

h1,
h2,
h3,
p {
  color: var(--text-color);
  font-weight: 400;
}

h1 {
  font-size: calc(1vw + 20px);
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

@media (min-width: 45em){
  h1 {
    font-size: calc(1vw + 25px);
  }

  h2 {
    font-size: 30px;
  }
}

@media (min-width: 70em) {
  h1 {
    font-size: calc(1vw + 32px);
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 16px;
  }
}

/****************/
/* HTML EN BODY */
/****************/

html {
	height:100dvh;
}

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  background: url('/Vectorbackground.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  overflow-x: hidden;
  display: block;
}

.transition-fade {
  opacity: 1;
  transition: 0.5s;
}



/****************/
/****************/
/**            **/
/**   HEADER   **/
/**            **/
/****************/
/****************/

/*********************************/
/*         Navigation bar        */
/*********************************/

nav ul {
  transition: ease 0.40s;
  list-style: none;
}

.horbar {
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.417);
  backdrop-filter: blur(12px);
}

.nav_option {
  position: relative;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.nav_option::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.nav_option:hover::after {
  width: 100%;
}

.nav_option.active {
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: rgba(255, 255, 255, 0.417);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 120px 5% 15px;
  display: none;
}

.sidebar a {
  padding-top: 30px;
  margin-left: 10px;
}

/* - - - Navigation Media Queries - - - */ 

.navigation-icons {
  gap: 3rem; 
  display: flex; 
  flex-direction:column; 
  justify-content: space-evenly; 
  min-height: 15vh;
}

@media (min-width: 45em) {
  .sidebar {
    width: 50%;
    border-right: var(--secondary-color) solid 1.2px;
  }
}

/***************/
/***************/
/**           **/
/**   main    **/
/**           **/
/***************/
/***************/

main {
  display: block;
}

.overview {
  padding-top: 8rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: auto auto auto;
  max-width: 1300px;
  margin: auto;
  margin-left: calc(8rem + 1%);
  padding-bottom: 5rem;
  min-height: 100vh;
}

.welcoming-message {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  max-width: 100%;
  white-space: nowrap;
  padding-left: 1rem;
}

.welcoming-message h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reminder {
  grid-column: 10 / span 5;
  grid-row: 1 / span 1;
  max-width: 100%;
}

.planner {
  grid-column: 1 / span 13;
  grid-row: 3 / span 1;
  max-width: 100%;
}

.toggle-btns{
  display: flex;
  grid-row: 2 / span 1;
  grid-column: 1 / span 5;
  margin-top: 2rem;
}

.et{
  margin-right: 1rem;
  margin-left: 1rem;
}

/*********************************/
/*            Input              */
/*********************************/

label {
  display: block;
  display: none;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
}

input:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px var(--secondary-color);
}

input::placeholder{
  color: var(--primary-color);
  font-size: 15px;
  background-color: transparent;
}

input::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
}

.webkit input::selection [type="password"] {
  letter-spacing: 3px;
}

/*********************************/
/*          Login.ejs            */
/*********************************/

.login-main-container {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.login-main-container::before,
.login-main-container::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(60px); 
  z-index: 1; 
}

.login-main {
  max-width: 20rem;
  padding: 2rem;
  position: relative;
  text-align: center;
  justify-content: center;
  background-color: var(--background-color);
  z-index: 2; 
}

.login-main h3 { 
  padding-top: 2rem;
}

.login-container {
  margin-top: 3rem;
}

.login-container button {
  width: 100%;
}

@media (min-width: 35em) {

  .login-main{
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    max-width: 30rem;
    height: 30rem;
  }
}


/*********************************/
/*            Reminder           */
/*********************************/

.reminder {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 85%;
  min-height: 12rem;
}

.title-row {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0; 
  font-size: 14px;
}

.row {
  display: contents; 
}

.cell {
  padding: 1rem;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; 
}

.cell:last-child {
  border-right: none; 
  justify-content: left;
  padding-left: 1rem;
}

/*********************************/
/*            Planner            */
/*********************************/

.planner {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  font-size: 12px;
  width: 100%;
}

.table-header, .table-row {
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  gap: 10px;
  height: 4rem;
}

.table-header {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}

.planner .cell {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; 
}

.role-cell {
  text-transform: uppercase;
  font-size: 11px;
}

.header-cell {
  text-align: center;
}

.table-row:last-child {
  padding:0;
}

/*********************************/
/*         Toggle Button         */
/*********************************/


.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 11px;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative; 
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 145px;
  height: 45px;
  background-color: rgba(116, 116, 116, 0.341);
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  top: 14px;
  right: 17px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 25px;
  background: var(--background-color);
  border-radius: 26px;
  position: absolute;
  display: flex;
  left: 5px;
  top: 5px;
  transition: all 0.3s ease;
  padding: 5px 0px;
  justify-content: center;
  line-height: 26px; 
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0px;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

/*********************************/
/*            Buttons            */
/*********************************/

button {
  background-color: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-size: 13px;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 2em 2em 0em 0em;
  width: 150px;
  height: 40px;
  align-self: end;
  transition: all 0.s ease-in; 
}

button:hover {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid transparent;
}

button:active {
  transform: scale(0.95);
}

@media (min-width: 45em){
  button {
    font-size: 15px;
    padding: 0.5rem 2rem;
    width: 200px;
    height: 45px;
  }
}

@media (min-width: 70em) {
  button {
    align-self: center;
  }
}

/*********************************/
/*             Icons             */
/*********************************/

.icon {
  color: #000000;
  width: 2em;
  height: 2em; 
}

#menu-icon {
  cursor: pointer;
  display: none; /* temp */
}

#x-icon {
  display: none;
  cursor: pointer;
}

#home-icon {
  cursor: pointer;
}
